In [9]:
import pandas as pd
import numpy as np
l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
df = pd.DataFrame(l, columns=["a", "b", "c"])

In [10]:
print(df)

      a     b      c
0     a  12.0   12.0
1  None  12.3   33.0
2     b  12.3  123.0
3     a   1.0    1.0

In [12]:
df.groupby(by="a").sum()

      b      c
a
a  13.0   13.0
b  12.3  123.0